<li data-id="{{id}}">
  <a href="#" class="item-link item-content">
    <div class="item-media">
      <img alt="favicon" width="16" height="16" src="https://www.google.com/s2/favicons?domain_url={{website}}&alt=feed">
    </div>
    <div class="item-inner">
      <div class="item-title">{{title}}</div>
      <div class="item-after"><span class="badge">{{count}}</span></div>
    </div>
  </a>
</li>
