<li>
  <a href="#" class="item-link item-content" data-id="{{id}}">
    <div class="item-media">
      <img alt="favicon" width="16" height="16" src="https://www.google.com/s2/favicons?domain_url={{website}}&alt=feed">
    </div>
    <div class="item-inner">
      <div class="item-title">{{title}}</div>
      {{#unreadCount}}
      <div class="item-after"><span class="badge">{{unreadCount}}</span></div>
      {{/unreadCount}}
    </div>
  </a>
</li>
