ion-view(title="{{contents.title}}" ng-controller="ContentController as content")
  ion-nav-buttons(side="left")
    button.button.button-icon.ion-navicon(ng-click="content.toggleLeft()" ng-hide="$exposeAside.active")

  ion-nav-buttons(side="right")
    button.button.button-icon.ion-ios7-more

  ion-content
    ul.list
      li.item(ng-repeat="item in contents.items")
        article.item-body
          h2
            a(href="{{item.alternate[0].href}}" target="_blank") {{item.title}}

          div(csp-bind-html="item.content.content")

          footer.padding-vertical
            a.button.icon-left.ion-bookmark(href="http://b.hatena.ne.jp/entry/{{item.alternate[0].href}}" target="_blank")
              hatena-bookmark(src="item.alternate[0].href")

            time {{item.published | date:'yyyy-MM-dd HH:mm:ss Z'}}
