ion-view(title="Feedpon" ng-controller="ContentController as content")
  ion-nav-buttons(side="left")
    button.button.button-icon.ion-navicon(ng-click="content.toggleLeft()" ng-hide="$exposeAside.active")

  ion-content
    ul.list
      li.item(ng-repeat="item in contents.items")
        .item-body
          h2 {{item.title}}
          div(ng-bind-html="item.content.content")
