ion-view(title="Feedpon" ng-controller="EntranceController as entrance")
  ion-content(overflow-scroll="true")
    button.button.button-full.button-positive(ng-click="entrance.authenticate()") Authenticate
