ion-view(title="Feedpon" ng-controller="EntranceController as entrance")
  ion-nav-buttons(side="left")
    button.button.button-icon.ion-navicon(ng-click="entrance.toggleLeft()" ng-hide="$exposeAside.active")

  ion-content.padding
    h2 Welcome
