ion-view(title="Feedpon" ng-controller="EntranceController as entrance" padding="true")
  ion-nav-buttons(side="left")
    button.button(ng-click="entrance.toggleLeft()")
      i.icon.ion-navicon

  ion-content
    h2 Welcome
