doctype html

html
  head
    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="msapplication-tap-highlight" content="no")
    link(rel="stylesheet" href="css/index.css")
    title Feedpon

  body
    ion-side-menus
      ion-side-menu-content
        ion-nav-bar.nav-title-slide-ios7.bar-positive

        ion-nav-view(animation="slide-left-right")

      ion-side-menu(side="left")
        include ./templates/subscription

    script(type="text/ng-template" id="templates/entrance.html")
      include ./templates/entrance

    script(type="text/ng-template" id="templates/content.html")
      include ./templates/content

    script(type="text/ng-template" id="templates/welcome.html")
      include ./templates/welcome

    script(src="cordova.js")
    script(src="js/index.js")
